.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-top: 80px;
}

.register-form-box {
  background: rgba(0, 0, 0, 0.85); /* --background-modal-color */
  color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4); /* --background-modal-shadow */
  padding: 30px;
  width: 400px;
  text-align: center;
}

.register-form-box h2 {
  margin-bottom: 20px;
  font-size: 24px;
}

.register-form-box .form-group {
  margin-bottom: 15px;
}

.register-form-box .form-input {
  width: 95%;
  padding: 10px;
  border: 1px solid #333;
  border-radius: 5px;
  background-color: var(--background-modal-color);
  color: #fff;
  font-size: 14px;
  outline: none;
  transition: border-color 0.3s ease;
}

.register-form-box .form-input:focus {
  border-color: #8379e7; /* --input-border-focus-color */
}

.register-form-box .checkbox-group {
  margin-bottom: 15px;
}

.register-form-box .checkbox-group label {
  align-items: left;
  font-size: 14px;
}

.register-form-box .register-button {
  width: 100%;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background: #8379e7; /* --main-color */
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.register-form-box .register-button:hover {
  background: #766ce9; /* --main-color-hover */
}

.register-form-box .error-message {
  color: #ff4d4f;
  font-size: 14px;
  margin-bottom: 15px;
  text-align: left;
}

.register-form-box .success-message {
  color: #4caf50;
  font-size: 14px;
  margin-bottom: 15px;
  text-align: left;
}

.register-form-box .login-link {
  margin-top: 15px;
  font-size: 14px;
}

.register-form-box .login-link a {
  color: #8379e7; /* --main-color */
  text-decoration: none;
  font-weight: bold;
}

.register-form-box .login-link a:hover {
  text-decoration: underline;
}
