.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form {
  background-color: var(--background-modal-color--);
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
}

.login-form h2 {
  text-align: center;
  font-size: 24px;
  color: #fff;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}
.form-group input {
  width: 95%;
  padding: 10px;
  border: 1px solid #444;
  border-radius: 8px;
  font-size: 15px;
  background: var(--background-modal-color--);
  color: #fff;
  outline: none;
  transition: border-color 0.3s ease;
  margin-top: 30px;
}

.form-group input:focus {
  border-color: #8379e7; 
}

.login-button {
  width: 100%;
  padding: 12px;
  background-color: #8379e7; 
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: #766ce9; 
}

.login-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.error-message {
  color: #ff4d4f;
  background-color: var(--background-modal-color--);
  border: 1px solid #ff4d4f;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
}

.success-message {
  color: #4caf50;
  background-color: var(--background-modal-color--);
  border: 1px solid #4caf50;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
}

.loader {
  text-align: center;
  font-size: 16px;
  color: #8379e7;
  font-weight: bold;
  margin-top: 10px;
}

.forgot-password {
  text-align: center;
  margin-top: 20px;
}

.forgot-password a {
  color: #8379e7;
  text-decoration: none;
}

.forgot-password a:hover {
  text-decoration: underline;
}
